<div data-w-id="52689639-77f9-af09-ed7f-733cbb12f40b" class="footer wf-section">
    <div class="footer__wrapper">
      <div id="w-node-_52689639-77f9-af09-ed7f-733cbb12f40d-bb12f40b" data-w-id="52689639-77f9-af09-ed7f-733cbb12f40d" class="footer__credits">
        <h6 class="dupe">We are Mwana.</h6>
        <div class="footer__copyright">© Copyright 2021</div>
        <div class="footer__copyright">All rights reserved.</div>
      </div>{%- image "/assets/images/frame-2.svg", "", '[]', 'loading="lazy" width="127" data-w-id="a611491d-e6a4-b1fb-fbfb-5dd8894f9784" class="image-14"' -%}
      <div id="w-node-_52689639-77f9-af09-ed7f-733cbb12f432-bb12f40b" class="footer__sm">
        <div data-w-id="52689639-77f9-af09-ed7f-733cbb12f423" class="footer__links-wrapper">
          <a href="/our-story" class="footer__link">Our Story</a>
          <a href="/team" class="footer__link">Team</a>
          <a href="/contact" class="footer__link">Contact</a>
        </div>
      </div>
    </div>
  </div>