<div data-collapse="medium" data-animation="default" data-duration="400" data-w-id="e28f7a47-472a-9aaf-c360-c00f8e7229fe" role="banner" class="nav-2 w-nav">
    <div class="nav-container w-container">
      <a href="/" aria-current="page" class="logo w-nav-brand w--current">{%- image "/assets/images/frame-4-3.svg", "", '[]', 'width="155" data-w-id="e28f7a47-472a-9aaf-c360-c00f8e722a01"' -%}</a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <div data-hover="" data-delay="0" class="dropdown-3 w-dropdown">
          <div class="dropdown-toggle-2 w-dropdown-toggle">
            <div class="w-icon-dropdown-toggle"></div>
            <div>About</div>
          </div>
          <nav class="dropdown-list-2 w-dropdown-list">
            <a href="/our-story" data-w-id="e28f7a47-472a-9aaf-c360-c00f8e722a0b" class="dropdown-link-3 w-dropdown-link">Our Story</a>
            <a href="/team" data-w-id="e28f7a47-472a-9aaf-c360-c00f8e722a09" class="dropdown-link-3 w-dropdown-link">Team</a>
          </nav>
        </div>
        <a href="/contact" data-w-id="e28f7a47-472a-9aaf-c360-c00f8e722a0f" class="nav-link-2 w-nav-link">Contact</a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>